{% extends 'template/base.html.twig' %}
{% block content %}
    <header class="container pt-5 d-flex justify-content-between align-items-center">
        <h2>Messages</h2>
        <a href="/groups/new" class="btn btn-primary">Create a group</a>
    </header>

    <div class="container">
        <main class="row align-items-start my-4">
            <aside class="col-2">
                <div class="list-group">
                {% for user in users %}
                    <a href="/messages/user/{{user.id}}" class="list-group-item list-group-item-action">{{ user.firstname }}</a>
                {% endfor %}
                {% for grp in groups %}
                    <a href="/messages/group/{{grp.group_id	}}" class="list-group-item list-group-item-action">{{ group.getGroupName(grp.group_id) }}</a>
                {% endfor %}
                </div>
            </aside>

            <section class="border col-10 p-4">
                {% for msg in messages %}
                <div>
                    <p class="{{ msg.sender_id == auth.user.id ? 'text-end' : 'text-start' }} "><span class="opacity-50">{{user.getUserFirstname(msg.sender_id)}}</span>
                    {{msg.message}}</p>
                </div>
                {% endfor %}
                <form action='' method="post">
                    <div class="d-flex gap-2">
                        <div class="flex-grow-1">
                            <input type="text" class="form-control" name="message" id="message" required
                                   placeholder="Your message" aria-label="Your message"  autocomplete="off" >
                        </div>
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock %}